<span id=log{{fillup.id}}>
    <div class="modal fade" id="fillupModal{{fillup.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLabel">Delete Log Entry</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            Are you sure?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="javascript:delete_log('#log{{fillup.id}}');" data-dismiss="modal">Delete</button>
            </div>
        </div>
        </div>
    </div>
        <tr>
            <td>
                <b>{{ moment(fillup.timestamp).format('LLL') }}:</b><br>
                Fuel: {{ fillup.fuel_amt_l }} L<br>
                Odometer: {% if vehicle.odo_unit == 'mi'%}{{ fillup.odometer_mi }} mi{% else %}{{ fillup.odometer_km }} km{% endif%}<br>
                Distance: {% if vehicle.odo_unit == 'mi'%}{{ fillup.dist_mi|int() if fillup.dist != None else "---" }} mi{% else %}{{ fillup.dist|int() if fillup.dist != None else "---"  }} km{% endif %}
            </td>
            <td>
                <b>Fuel Economy:</b><br>
                {{ fillup.lp100k|round(1) if fillup.lp100k != None else "---"}} L/100 km<br>
                {{ fillup.mpg|round(1) if fillup.lp100k != None else "---" }} MPG (US)<br>
                {{ fillup.mpg_imp|round(1) if fillup.lp100k != None else "---" }} MPG (Imp)
            </td>
            <td>
                <a href=javascript:$(fillupModal{{fillup.id}}).modal()>Delete</a>
            </td>
        </tr>
</span>