<span id=log{{fillup.id}}>
    <table class="table table-hover">
        <tr>
            <td>
                <b>{{ moment(fillup.timestamp).format('LLL') }}:</b><br>
                Fuel: {{ fillup.fuel_amt_l }} L<br>
                Odometer: {{ fillup.odometer_km }} km
            </td>
            <td>
                <b>Fuel Economy:</b> <br>
                {{ fillup.lp100k|round(1) }} L/100 km <br>
                {{ fillup.mpg|round(1) }} MPG (US) <br>
                {{ fillup.mpg_imp|round(1) }} MPG (Imp)
            </td>
            <td>
                <a href="javascript:delete_log('#log{{fillup.id}}');">Delete</a>
            </td>
        </tr>
    </table>
</span>