{% extends "base.html" %}

{% block app_content %}
    <h1>Home page</h1>
    {% with v = current_user.vehicles.first() %}
    {% if v %}
        <h3>Primary Vehicle: <a href="{{url_for('logs', vehicle_id=v.id)}}">{{ v.year }} {{ v.make }} {{ v.model }}</a></h3>
        {{ v.get_stats_df().to_html(classes=['table', 'table-hover', 'table-striped', 'table-responsive'], index=False, columns=['timestamp', 'odometer_km', 'fuel_amt_l', 'dist'], max_rows=20)|safe }}
    {% else %}
        No vehicle! <a href={{ url_for('add_vehicle') }}>Add one now</a>
    {% endif %}
    {% endwith %}
{% endblock %}