{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="modal fade" id="vehicleModal{{vehicle.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">WARNING</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This will delete <span style="color: red;">ALL</span> logs for this vehicle. Are you sure?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="javascript:delete_all_logs('{{vehicle.id}}');" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <h1>{{ vehicle.owner.username }}'s {% if vehicle.year %}{{ vehicle.year }}{% endif %} {{ vehicle.make }} {{ vehicle.model }}</h1>
        <a href=javascript:$(vehicleModal{{vehicle.id}}).modal()>Delete All</a><br>
        <a href={{url_for('bulk_upload', vehicle_id=vehicle.id)}}>Import from CSV</a>
        <hr>
    </div>
    <div class='row'>
        {% if form %}
            <h3>Add a new fill-up log entry:</h3>
            {{ wtf.quick_form(form)}}
        {% endif %}
    </div>
    <div class='row'>
        {% with stats = vehicle.compute_stats() %}
            {% if stats %}
                <h3>Fuel Stats</h3>
                <div class='row'>
                    <div class='col-sm-6'>
                        Total Fuel: {{ stats['total_fuel'] }} L <br>
                        Total Distance Measured: {{ stats['total_dist'] }} km <br>
                        Current Odometer: {{ stats['current_odo'] }} km <br>
                        Total Logs: {{ stats['total_logs'] }}
                    </div>
                    <div class='col-sm-6'>
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <div class="col-sm-4">
                        <b>Average:</b>
                        <ul>
                            <li>{{ stats['avg_lp100k'] | round(1) }} L/100 km</li>
                            <li>{{ stats['avg_mpg'] | round(1) }} MPG</li>
                            <li>{{ stats['avg_mpg_imp'] | round(1) }} MPG (Imperial)</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <b>Best:</b>
                        <ul>
                            <li>{{ stats['best_lp100k'] | round(1) }} L/100 km</li>
                            <li>{{ stats['best_mpg'] | round(1) }} MPG</li>
                            <li>{{ stats['best_mpg_imp'] | round(1) }} MPG (Imperial)</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <b>Worst:</b>
                        <ul>
                            <li>{{ stats['worst_lp100k'] | round(1) }} L/100 km</li>
                            <li>{{ stats['worst_mpg'] | round(1) }} MPG</li>
                            <li>{{ stats['worst_mpg_imp'] | round(1) }} MPG (Imperial)</li>
                        </ul>
                    </div>
                </div>
                
            {% else %}
                No vehicle stats!
            {% endif %}
        {% endwith %}
    </div>
    <div class='row'>
        <h3>Fill-ups{% if page %} (Page {{ page }} of {{ pages }}){% endif %}:</h3>
        {% if fillups %}
            <table class="table table-hover table-responsive">
                {% for fillup in fillups|sort(attribute='timestamp', reverse=True) %}
                    {% include '_fillup.html' %}
                {% endfor %}
            </table>

        {% else %}
            No logs for this vehicle
        {% endif %}
    </div>
    <nav aria-label="...">
        <ul class='pager'>
            <li class='previous{% if not prev_url %} disabled {% endif %}'>
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer logs
                </a>
            </li>
            <li class='next{% if not next_url %} disabled {% endif %}'>
                <a href="{{ next_url or '#' }}">
                    Older logs <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}