{% extends "base.html" %}

{% block app_content %}
    <div class='row'>
        <h1>{{ vehicle.owner.username }}'s {% if vehicle.year %}{{ vehicle.year }}{% endif %} {{ vehicle.make }} {{ vehicle.model }}</h1>
    </div>
    <div class='row'>
        {% with stats = vehicle.compute_stats() %}
                <div class='row'>
                    <div class='col-sm-6'>
                        Total Fuel: {{ stats['total_fuel'] }} L <br>
                        Current Odometer: {{ stats['current_odo'] }} km
                    </div>
                    <div class='col-sm-6'>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-sm-4">
                        <b>Average:</b>
                        <ul>
                            <li>{{ stats['avg_lp100k'] | round(1) }} L/100 km</li>
                            <li>{{ stats['avg_mpg'] | round(1) }} MPG</li>
                            <li>{{ stats['avg_mpg_imp'] | round(1) }} MPG (imperial)</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <b>Best:</b>
                        <ul>
                            <li>{{ stats['best_lp100k'] | round(1) }} L/100 km</li>
                            <li>{{ stats['best_mpg'] | round(1) }} MPG</li>
                            <li>{{ stats['best_mpg_imp'] | round(1) }} MPG (imperial)</li>
                        </ul>
                    </div>
                    <div class="col-sm-4">
                        <b>Worst:</b>
                        <ul>
                            <li>{{ stats['worst_lp100k'] | round(1) }} L/100 km</li>
                            <li>{{ stats['worst_mpg'] | round(1) }} MPG</li>
                            <li>{{ stats['worst_mpg_imp'] | round(1) }} MPG (imperial)</li>
                        </ul>
                    </div>
                </div>
        {% endwith %}
    </div>
    <div class='row'>
        {% if form %}
            <h3>Add a new fill-up log entry:</h3>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.fuel.label }}<br>
                    {{ form.fuel() }}<br>
                    {% for error in form.fuel.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.odometer.label }}<br>
                    {{ form.odometer() }}<br>
                    {% for error in form.odometer.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.submit() }}
                </p>
            </form>
        {% endif %}
    </div>
    <div class='row'>
        <h3>Fill-ups:</h3>
        {% with fillups = vehicle.fillups.all() %}
        {% if fillups %}
        {% for fillup in fillups %}
            {% include '_fillup.html' %}
        {% endfor %}
        {% else %}
            No logs for this vehicle
        {% endif %}
        {% endwith %}
    </div>
{% endblock %}