{% extends "base.html" %}

{% block app_content %}
    <h1>
        {{ current_user.username }}'s Garage
    </h1>
    {% with vehicles = current_user.vehicles %}
    <h3>Vehicles:</h3>
    {% if vehicles %}
    <ul>
        {% for vehicle in vehicles %}
            <li><a href="{{ url_for('fuel_logs.logs', vehicle_id=vehicle.id) }}">{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</a> | {% if vehicle.is_favourite %}Primary Vehicle{% else %}<a href="{{ url_for('vehicles.set_fav_vehicle', user_id=current_user.id, vehicle_id=vehicle.id) }}">Set Primary</a>{% endif %}</li>
        {% endfor %}
    </ul>
    
    {% else %}
        None
    {% endif %}
    {% endwith %}
    <a href="{{ url_for('vehicles.add_vehicle') }}">Add vehicle</a>
{% endblock %}