{% extends "base.html" %}

{% block app_content %}
    <h1>Home page</h1>
    {% with v = current_user.vehicles.filter_by(is_favourite=True).first() or current_user.vehicles.first() %}
    {% if v %}
        <h3>Primary Vehicle: <a href="{{url_for('fuel_logs.logs', vehicle_id=v.id)}}">{{ v.year }} {{ v.make }} {{ v.model }}</a></h3>
        <div class='table-responsive'>
            {{ v.get_stats_df().sort_values('timestamp', ascending=False).head(15).to_html(classes=['table', 'table-hover', 'table-striped'], index=False, columns=['timestamp', 'odometer_km', 'odometer_mi', 'dist_km', 'dist_mi', 'fuel_amt_l', 'lp100k', 'mpg', 'mpg', 'mpg_imp'], float_format='%0.1f', na_rep='---')|safe }}
        </div>

    {% else %}
        No vehicle! <a href={{ url_for('vehicles.add_vehicle') }}>Add one now</a>
    {% endif %}
    {% endwith %}
{% endblock %}
