{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="modal fade" id="vehicleModal{{vehicle.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">WARNING</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This will delete <span style="color: red;">ALL</span> logs for this vehicle. Are you sure?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="javascript:delete_all_logs('{{vehicle.id}}');" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <h1>{{ vehicle.owner.username }}'s {% if vehicle.year %}{{ vehicle.year }}{% endif %} {{ vehicle.make }} {{ vehicle.model }}{% if vehicle.odo_unit == 'mi' %} <span class='h3'>(Odometer unit: Miles){% endif %}</span></h1>
        <a href=javascript:$(vehicleModal{{vehicle.id}}).modal()>Delete All</a><br>
        <a href={{url_for('main.bulk_upload', vehicle_id=vehicle.id)}}>Import from CSV</a><br>
        <a href={{url_for('main.bulk_download', vehicle_id=vehicle.id)}}>Export to CSV</a>
        <hr>
    </div>
    <div class='row'>
        {% if form %}
        <div class="col-sm-6">
            <h3>Add a new fill-up log entry:</h3>
            {{ wtf.quick_form(form)}}
        </div>
        {% endif %}
        <div class="col-sm-6">
            {% with stats = vehicle.compute_stats() %}
                {% if stats %}
                    <div class='row'>
                        <div class='col' style="text-align:center;">
                            <h3>Fuel Stats</h3>
                            Total Fuel: {{ stats['total_fuel']|round(1) }} L <br>
                            Total Distance Measured: {% if vehicle.odo_unit == 'mi' %}{{ stats['total_dist_mi']|int()}} mi{% else %}{{ stats['total_dist_km']|int()}} km{% endif %}<br>
                            Current Odometer: {% if vehicle.odo_unit == 'mi' %}{{ stats['current_odo_mi']|int() }} mi{% else %}{{ stats['current_odo']|int() }} km{% endif %} <br>
                            Total Logs: {{ stats['total_logs'] }}
                        </div>
                    </div>
                    <hr>
                    <div class='row'>
                        <div class="col-xs-4">
                            <div class='row' style="text-align:center;">
                                <h4>Worst</h4>
                            </div>
                            <div class='row'>
                                <div id="gauge-mpg-worst" class="gauge-container"></div>
                            </div>
                            <script>
                                var gauge_mpg = Gauge(document.getElementById("gauge-mpg-worst"), {
                                    min: 0,
                                    max: 40,
                                    value: 0,
                                    gaugeColor: 'red',
                                    viewBox: "0, 0 100 85",
                                    label: function(value){
                                        return (Math.round(value*10)/10).toFixed(1) + ' MPG'
                                    }
                                })
                                gauge_mpg.setValueAnimated("{{ stats['worst_mpg'] }}")
                            </script>
                            <div class='row'>
                                <ul>
                                    <li>{{ stats['worst_lp100k'] | round(1) }} L/100 km</li>
                                    <li>{{ stats['worst_mpg'] | round(1) }} MPG</li>
                                    <li>{{ stats['worst_mpg_imp'] | round(1) }} MPG (Imperial)</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class='row' style="text-align:center;">
                                <h4>Average</h4>
                            </div>
                            <div class='row'>
                                <div id="gauge-mpg-avg" class="gauge-container"></div>
                            </div>
                            <script>
                                var gauge_mpg = Gauge(document.getElementById("gauge-mpg-avg"), {
                                    min: 0,
                                    max: 40,
                                    value: 0,
                                    gaugeColor: 'red',
                                    viewBox: "0, 0 100 85",
                                    label: function(value){
                                        return (Math.round(value*10)/10).toFixed(1) + ' MPG'
                                    }
                                })
                                gauge_mpg.setValueAnimated("{{ stats['avg_mpg'] }}")
                            </script>
                            <div class="row">
                                <ul>
                                    <li>{{ stats['avg_lp100k'] | round(1) }} L/100 km</li>
                                    <li>{{ stats['avg_mpg'] | round(1) }} MPG</li>
                                    <li>{{ stats['avg_mpg_imp'] | round(1) }} MPG (Imperial)</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class='row' style="text-align:center;">
                                <h4>Best</h4>
                            </div>
                            <div class='row'>
                                <div id="gauge-mpg-best" class="gauge-container"></div>
                            </div>
                            <script>
                                var gauge_mpg = Gauge(document.getElementById("gauge-mpg-best"), {
                                    min: 0,
                                    max: 40,
                                    value: 0,
                                    gaugeColor: 'red',
                                    viewBox: "0, 0 100 85",
                                    label: function(value){
                                        return (Math.round(value*10)/10).toFixed(1) + ' MPG'
                                    }
                                })
                                gauge_mpg.setValueAnimated("{{ stats['best_mpg'] }}")
                            </script>
                            <div class="row">
                                <ul>
                                    <li>{{ stats['best_lp100k'] | round(1) }} L/100 km</li>
                                    <li>{{ stats['best_mpg'] | round(1) }} MPG</li>
                                    <li>{{ stats['best_mpg_imp'] | round(1) }} MPG (Imperial)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                {% else %}
                    No vehicle stats!
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class='row'>
        <h3>Fill-ups{% if page %} (Page {{ page }} of {{ pages }}){% endif %}:</h3>
        {% if fillups %}
            <table class="table table-hover table-responsive">
                {% for fillup in fillups|sort(attribute='timestamp', reverse=True) %}
                    {% include '_fillup.html' %}
                {% endfor %}
            </table>

        {% else %}
            No logs for this vehicle
        {% endif %}
    </div>
    <nav aria-label="...">
        <ul class='pager'>
            <li class='previous{% if not prev_url %} disabled {% endif %}'>
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer logs
                </a>
            </li>
            <li class='next{% if not next_url %} disabled {% endif %}'>
                <a href="{{ next_url or '#' }}">
                    Older logs <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}